{% extends "Layout/main.twig" %}

{% block content %}
    {% form_theme form 'Form/form_div_layout.twig' %}
    
    {% include 'Layout/flash.twig' %}
    
    <p class="description">{{ 'authentication.lostPasswordReinitialize.success.message'|trans }}</p>
    
    <form action="{{ path('lost_password_reinitialize_form', { 'token': token }) }}" method="post">
        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">{{ 'submit'|trans }}</button>
    </form>
{% endblock %}    