{% extends "Mail/en/layout.twig" %}

{% block content %}
    Hello, <br />
    Click on link below to reinitialize your password : <br />
    <a href="{{ url('lost_password_reinitialize', { 'token': token }) }}">{{ url('lost_password_reinitialize', { 'token': token }) }}</a>
{% endblock %}