{% extends "Mail/fr/layout.twig" %}

{% block content %}
    Bonjour, <br />
    Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe : <br />
    <a href="{{ url('lost_password_reinitialize', { 'token': token, 'locale': 'fr' }) }}">{{ url('lost_password_reinitialize', { 'token': token, 'locale': 'fr' }) }}</a>
{% endblock %}